html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Century Gothic;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}
/* landing */
.button {
  background-color: magenta !important;
  border: 2px solid magenta !important;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px !important;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\2794';
  position: absolute;
  opacity: 0;
  top: 0;
  font-size: 20px;
  right: -20px;
  transition: 0.5s;
  color: magenta;
}
.button:hover {
	background-color: white !important;
  
    
}

.button:hover span {
  padding-right: 25px;
  color: magenta;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.imagebg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -99;
  opacity: .4;
  
}
.head2 {
  color: black;
}

/* landing end */

/* login */
.isbudget {
  width: 100px;
  height: auto;
 
}
.navdrop{
  position: absolute;
  top: 10px;
  left: 120px;
  z-index: 99;
  
}
.navbar{
  background-color: white;
}
.button2{
  background-color: #4285F4 !important;
  border: 2px solid #4285F4 !important;
  color: #FFFFFF !important;
  text-align: center;
  font-size: 15px !important;
  padding: 15px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
}
.button2:hover {
  background-color: white !important;
  color: #4285F4 !important;
}


/* login end */

/* budgets  */
.addbtn {
  color: #4285F4 !important;
}
.addbtn:hover {
  color: magenta !important;
}
.add-icon{
  position: absolute;
  left: 0;
  top: 40%;
  font-size: 12px !important;
  color: black !important;
  cursor: pointer;
}
.add-icon:hover {
  color: magenta !important;
}
.shadow {
  box-shadow: darkgray;
}
.action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tableData {
  text-align: center;
  vertical-align: middle !important;
}

/* budgets end */
